{"filter":false,"title":".rspec","tooltip":"/msm-associations/.rspec","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":1,"column":0},"action":"remove","lines":["--require spec_helper",""],"id":2}],[{"start":{"row":0,"column":0},"end":{"row":4,"column":0},"action":"insert","lines":["--color","--format documentation","--order default","--require spec_helper",""],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":0},"end":{"row":4,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1518758493140,"hash":"081b5102676dc4b2e977169a08e193464ee196ef"}